<!DOCTYPE html>
<html>
  <head>
    <style>
      .container{
        width: 800px;
        margin: 0 auto;
      }
      span{
        margin: 10px 0;
        display: block;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <span>Oi, {{name}}</span>
      <br/>
      <span>Você solicitou a alteração de senha?</span>
      <span>
        Para realizar a troca clique no link
        <a href={{link}}>{{link}}</a>
      </span>
    </div>
  </body>
</html>
